<div class="col-md-12">
  <nb-card>
    <nb-card-header>Employee Registration Approval
    </nb-card-header>
    <nb-card-body>
      <form [formGroup] ="employeeApproveForm">
        <div class="form-group row"
             [ngClass]="{'has-error': (employeeApproveForm.get('firstName').touched ||
                                      employeeApproveForm.get('firstName').dirty) &&
                                      !employeeApproveForm.get('firstName').valid }">
          <label for="FirstNameId" class="col-sm-3 col-form-label">First Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="FirstNameId" placeholder="First Name"
                   formControlName="firstName"/>
            <span class="help-block" *ngIf="(employeeApproveForm.get('firstName').touched ||
                                                         employeeApproveForm.get('firstName').dirty) &&
                                                         employeeApproveForm.get('firstName').errors">
                  <span *ngIf="employeeApproveForm.get('firstName').errors.required">
                                Please enter your first name.
                  </span>
                  <span *ngIf="employeeApproveForm.get('firstName').errors.minlength">
                                The first name must be longer than 3 characters.
                  </span>
            </span>
          </div>
        </div>

        <div class="form-group row"
             [ngClass]="{'has-error': (employeeApproveForm.get('lastName').touched ||
                                        employeeApproveForm.get('lastName').dirty) &&
                                        !employeeApproveForm.get('lastName').valid }">
          <label for="inputLastName" class="col-sm-3 col-form-label">Last Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputLastName" placeholder="Last Name"
                   formControlName="lastName"/>
            <span class="help-block" *ngIf="(employeeApproveForm.get('lastName').touched ||
                                                         employeeApproveForm.get('lastName').dirty) &&
                                                         employeeApproveForm.get('lastName').errors">
                  <span *ngIf="employeeApproveForm.get('lastName').errors.required">
                                Please enter your last name.
                  </span>
                  <span *ngIf="employeeApproveForm.get('lastName').errors.minlength">
                                The last name must be longer than 3 characters.
                  </span>
            </span>
          </div>
        </div>

        <div class="form-group row" >
          <label class="col-sm-3 col-form-label">Gender</label>
          <div class="col-sm-9">
            <label class="radio-inline">
              <input type="radio"
                     value="male"
                     formControlName = "gender">Male
            </label>
            <label class="radio-inline">
              <input type="radio"
                     value="female"
                     formControlName = "gender">Female</label>
          </div>
        </div>

        <div formGroupName="IdentificationGroup"
             [ngClass]="{'has-error':employeeApproveForm.get('IdentificationGroup').errors}">
          <div class="form-group row">
            <label for="identificationNumber" class="col-sm-3 col-form-label">Identification Number</label>
            <div class="col-sm-9">
              <input type="text"
                     class="form-control"
                     id="identificationNumber"
                     placeholder="Identification Number"
                     formControlName="identificationNumber">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Type of ID</label>
            <div class="col-sm-9">
              <label  class="radio-inline">
                <input type="radio" value="Passport" formControlName = "typeOfIdentification">
                Passport
              </label>
              <label class="radio-inline">
                <input type="radio" value="National ID" formControlName = "typeOfIdentification">
                National ID
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row"
             [ngClass]="{'has-error': !employeeApproveForm.get('phoneNumber').valid }">
          <label for="phoneNumber" class="col-sm-3 col-form-label">Phone</label>
          <div class="col-sm-9">
            <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number"
                   formControlName="phoneNumber">
            <span class="help-block" *ngIf="employeeApproveForm.get('phoneNumber').errors">
              <span *ngIf="employeeApproveForm.get('phoneNumber').errors.required">
                Please enter your phone number.
              </span>
            </span>
          </div>
        </div>

        <div class="form-group row"
             [ngClass]="{'has-error': (employeeApproveForm.get('company').touched ||
                                      employeeApproveForm.get('company').dirty) &&
                                      !employeeApproveForm.get('company').valid }">
          <label for="company" class="col-sm-3 col-form-label">Company</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="company" placeholder="Company"
                   formControlName="company"/>
            <span class="help-block" *ngIf="(employeeApproveForm.get('company').touched ||
                                                         employeeApproveForm.get('company').dirty) &&
                                                         employeeApproveForm.get('company').errors">
                  <span *ngIf="employeeApproveForm.get('company').errors.required">
                                Please enter your company's name.
                  </span>
                  <span *ngIf="employeeApproveForm.get('company').errors.minlength">
                                The company name must be longer than 3 characters.
                  </span>
            </span>
          </div>
        </div>

        <div class=" form-group row" >
          <label class="col-sm-3 col-form-label">Status</label>
          <div class="col-sm-9">
            <label class="radio-inline">
              <input type="radio"
                     value="approved"
                     formControlName = "status">Approved
            </label>
            <label class="radio-inline">
              <input type="radio"
                     value="notApproved"
                     formControlName = "status">Not Approved</label>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Previous</button>
            <button type="submit" class="btn btn-primary">Approve</button>
            <button type="submit" class="btn btn-outline-warning">Decline</button>
            <button type="submit" class="btn btn-primary">View Accounts</button>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>

