<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Total Active Clients" type="primary">
      <i class="nb-person"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Total Active Companies" type="primary">
      <i class="nb-person"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Total Loans" type="primary">
      <i class="nb-person"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Total Balance" type="primary">
      <i class="nb-person"></i>
    </ngx-status-card>
  </div>
</div>
<ngx-loan-statistics></ngx-loan-statistics>
